#calculator {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
  }
  
  #display {
    width: 100%;
    height: 50px;
    font-size: 36px;
    background-color: #ddd;
    border: none;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: right;
    font-family: monospace;
  }
  
  .number, .operator{
    width: 25%;
    height: 60px;
    font-size: 18px;
    background-color: #eee;
    border: none;
    float: left;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 0;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .number:hover, .operator:hover {
    background-color: #ddd;
  }
  
  .number:active, .operator:active {
    background-color: #ccc;
  }

  .result {
    width: 100%;
    height: 60px;
    font-size: 18px;
    background-color: #ccc;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 0;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .result:hover {
    background-color: #bbb;
  }
  
  .result:active {
    background-color: #aaa;
  }  
  
  .clear {
    width: 50%;
    height: 60px;
    font-size: 18px;
    background-color: rgb(161, 161, 161);
    border: none;
    float: left;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 0;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .clear:hover {
    background-color: #bbb;
  }
  
  .clear:active {
    background-color: #aaa;
  }
  
  .operator {
    background-color: #ddd;
  }
  
  @media (max-width: 600px) {
    #calculator {
      width: 100%;
    }
  }

  